names==0.3.0
random-address==1.1.1
random2
pandas
datetime
python-dateutil
python-math
mpmath
numpy
requests
beautifulsoup4
secure-smtplib
json5
azure-common
azure-core
azure-functions
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-resource
azure-mgmt-storage
fastapi==0.99.1
psutil==5.9.0
nbconvert==5.4.0
ipywidgets
#python-kaleido
#plotly-orca
#plotly
#tempfile
matplotlib
typing
pydantic==1.10.8
#logging
uvicorn