
names==0.3.0
random-address==1.1.1
random 
mkl-random
pandas
datetime
python-dateutil
math 
mpmath
numpy
requests
beautifulsoup4
plotly
smtplib
email
tempfile
backports.tempfile
fastapi 
typing
pydantic
json
json5
logging
azure-common==1.1.28
azure-core==1.29.7
azure-functions==1.18.0
azure-mgmt-compute==30.5.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
